{% extends "main/base.html" %}
{% block title %}<title>Блог</title>{% endblock %}
{% block content %}
<div class="container">
    <h2 class="mt-4">Блог</h2>
    <p class="lead">Последние статьи и обновления.</p>
    <ul class="list-group">
        <li class="list-group-item"><a href="#">Как я создал этот сайт</a></li>
        <li class="list-group-item"><a href="#">Советы по веб-разработке</a></li>
        <li class="list-group-item"><a href="#">Лучшие инструменты для дизайна</a></li>
    </ul>
</div>
{% endblock %}